$gridColumns: 12;
$menuColumns: 5;

[class*='col-'] {
  float: left;
  margin: 0;
}

[class='container'] {
  margin: 0 auto;
}

.container {
  max-width: 90%;
}

.container-fluid {
  max-width: 100%;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.row{
  margin-bottom: 20px;
}

/**
 * Loop to generate grid columns, offset and half offset classes.
 */
@for $i from 1 through $gridColumns {

  .col-#{$i} {
    width: (100/$gridColumns*$i)#{'%'};
  }
  .offset-#{$i} {
    margin-left: (100/$gridColumns*$i)#{'%'};
  }
  .half-offset-#{$i} {
    margin-left: (100/$gridColumns*$i/2)#{'%'};
  }
}
