[class*='col-'] {
  float: left;
  margin: 0; }

[class='container'] {
  margin: 0 auto; }

.container {
  max-width: 90%; }

.container-fluid {
  max-width: 100%; }

.container:after {
  content: "";
  display: table;
  clear: both; }

.row {
  margin-bottom: 20px; }

/**
 * Loop to generate grid columns, offset and half offset classes.
 */
.col-1 {
  width: 8.33333%; }

.offset-1 {
  margin-left: 8.33333%; }

.half-offset-1 {
  margin-left: 4.16667%; }

.col-2 {
  width: 16.66667%; }

.offset-2 {
  margin-left: 16.66667%; }

.half-offset-2 {
  margin-left: 8.33333%; }

.col-3 {
  width: 25%; }

.offset-3 {
  margin-left: 25%; }

.half-offset-3 {
  margin-left: 12.5%; }

.col-4 {
  width: 33.33333%; }

.offset-4 {
  margin-left: 33.33333%; }

.half-offset-4 {
  margin-left: 16.66667%; }

.col-5 {
  width: 41.66667%; }

.offset-5 {
  margin-left: 41.66667%; }

.half-offset-5 {
  margin-left: 20.83333%; }

.col-6 {
  width: 50%; }

.offset-6 {
  margin-left: 50%; }

.half-offset-6 {
  margin-left: 25%; }

.col-7 {
  width: 58.33333%; }

.offset-7 {
  margin-left: 58.33333%; }

.half-offset-7 {
  margin-left: 29.16667%; }

.col-8 {
  width: 66.66667%; }

.offset-8 {
  margin-left: 66.66667%; }

.half-offset-8 {
  margin-left: 33.33333%; }

.col-9 {
  width: 75%; }

.offset-9 {
  margin-left: 75%; }

.half-offset-9 {
  margin-left: 37.5%; }

.col-10 {
  width: 83.33333%; }

.offset-10 {
  margin-left: 83.33333%; }

.half-offset-10 {
  margin-left: 41.66667%; }

.col-11 {
  width: 91.66667%; }

.offset-11 {
  margin-left: 91.66667%; }

.half-offset-11 {
  margin-left: 45.83333%; }

.col-12 {
  width: 100%; }

.offset-12 {
  margin-left: 100%; }

.half-offset-12 {
  margin-left: 50%; }

/*# sourceMappingURL=grid.css.map */
