/* Import the grid system */
@import "grid.css";
/* Import work sans font from google fonts. */
@import 'https://fonts.googleapis.com/css?family=Work+Sans';
/* Import file with global variables */
@import "variables.css";

/**
 * Global selector to reset cross browser styles.
 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work+Sans', sans-serif;
}

/**
 * Global page styles.
 */
html, body {
    height: 100%;
    margin: 0;
}

.page-wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

/**
 * The watermark with an pseudo element for adding opacity.
 */
.watermark {
    width: 200px;
    height: 150px;
    display: block;
    position: fixed;
    right:0;
    bottom: 0;
}

.watermark::after {
    content: "";
    background: no-repeat url( '../images/logo_default.png' );
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}


/** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *  Header styles
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.header-wrapper {
    background: linear-gradient(var(--gradiant-degrees), var(--secondary-color), var(--third-color), var(--main-color) 100%);
    height: 150px;
}

.brand-logo {
    margin-top: -30px;
    width: 180px;
    height: 190px;
}

/* Navigation menu styles*/
.nav-wrapper {

}

.nav-wrapper > ul {
    margin-top: 30px;
    list-style: none;
}

.nav-wrapper > ul > li {
    float: left;
    width: 20%;
}

.nav-wrapper > ul > li > a {
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: 1.8em;
    text-decoration: none;
    width: 100%;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    border-radius: 10px;
}

.nav-wrapper > ul > li > input {
    width: 80%;
    height: 2.5em;
    margin-top: 5px;
}

.nav-wrapper > ul > li > a:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Language wrapper styles*/
.lang-wrapper {
    padding-right: 3%;
}

.flag-icon {
    height: 50px;
    width: 60px;

    float: right;
}

.flag-spacer {
    width: 20px;
    height: 50px;
    float: right;
}

.flag-spacer-item {
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    width: 2px;
    height: 30px;
    margin-top: 10px;
}

.header-image-wrapper {
    height: 250px;
    overflow: hidden;
}

.header-background-image {
    margin-top: -250px;
    width: 100vw;
}

/** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Page content styles.
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/

.main-wrapper {
    padding: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

/**
 * Opleidingen page
 */
.opleiding-column > ul > li {
    list-style: none;
    margin-bottom: 10px;
}

.opleiding-column > ul > li > a {
    text-decoration: none;
}
.opleiding-column > ul > li > a:visited{
    text-decoration-color: white;
    color:white;
}

.opleiding-purple {
    height: 60px;
    width: 350px;
    background-color: RGB(161, 14, 155);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.opleiding-blue {
    height: 60px;
    width: 350px;
    background-color: #3d46c5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button-studielink {
    background-color: RGB(161, 14, 155);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/**
 * Opendagen page
 */
.programma-list {
    list-style-position: inside;
}

.programma-list > li {
    margin-top: 5px;
}

.table-opendagen > tbody > tr > td {
    padding: 10px;
}

.table-opendagen > tbody > tr:nth-child(-n+2) > td {
    border-bottom: 1px solid #000000;
}

.table-opendagen > tbody > tr > td:nth-child(2) {
    border-left: 1px solid #000000;
}

.page-opoendagen > .row > section{
    padding: 20px;
}
/**
 * Contact page
 */
.form-contact > label {
    margin-top: 10px;
}

.form-contact > textarea {
    margin-bottom: 10px;
}

.button {
    background-color: RGB(161, 14, 155);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-holder > a:last-child {
    margin-left: 10px;
}

/**
 * Home page
 */
.index-main > section{
    margin-bottom: 30px;
}

.index-main > section > ul{
    list-style: none;
}

.news-feed-list > dd {
    margin-bottom: 20px;
}

.news-feed-list a {
    text-decoration: none;
}

/**
*  sitemap page
*/
.sitemap-list ul {
    list-style: inside;
}

.sitemap-list > li {
    list-style: none;
}

.sitemap-inner-list > li {
    list-style: none;
}

.sitemap-inner-list {
    list-style: none;
    padding-left: 10px;
}

/** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Page footer.
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.footer-wrapper {
    height: 50px !important;
    background: linear-gradient(var(--gradiant-degrees), var(--secondary-color), var(--third-color), var(--main-color) 100%);
}

.footer-links {
    float: left;
    margin-left: 10px;
    color: white;
    line-height: 45px;
    vertical-align: middle;
    text-decoration: none;
}

.footer-links:first-child {
    margin-left: 5%;
}

/** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Support classes.
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/
.center {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.pull-right {
    float: right;
}

.link-markup{
    color: var( --secondary-color );
}

.link-markup:visited{
    color: var( --secondary-color );
}

.button-purple {
    height: 60px;
    width: 350px;
    background-color: var( --main-color );
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.button-blue {
    height: 60px;
    width: 350px;
    background-color: var( --secondary-color );
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

/**
 * Colors used
 */
.color-heading-2 {
    color: var(--main-color);
}

.widget-text {
    padding-right: 50px;
}

.color-link {
    color: #3d46c5;
}

.padding-right{
    padding-right: 20px;
}

/** * * * * * * *
 * Debug Bar
 * * * * * */
.phpdebugbar-widgets-list-item {
    font-size: 1.2em;
}