/**
 * Root css selector for defining css variables and global settings.
 */
:root {

    /* The site color scheme. */
    --main-color: #C515C3;
    --secondary-color: #3d46c5;
    --third-color: #4b0a73;

    --dark-color: #222222;
    --light-color: #eeeeee;

    /* Gradiant settings */
    --gradiant-degrees: 45deg;

    /* Font settings */
    --main-font: 'Work+Sans', sans-serif;
}